PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173

MYSQL_ADDON_HOST=
MYSQL_ADDON_DB=
MYSQL_ADDON_USER=
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_PASSWORD=

JWT_SECRET=cambia-esta-clave-en-produccion
JWT_EXPIRES_IN=7d
MYSQL_SSL=

ADMIN_EMAIL=admin@rosaseternas.test
ADMIN_PASSWORD=
CLIENTE_EMAIL=cliente@rosaseternas.test
CLIENTE_PASSWORD=
